@media all and (max-width: 480px){
  
    .bg-content{
        width: 80%;
        position: relative;
        top: 15em;
        left: 10%;
        color:#fff;

     }
     .bg-content h2{
        font-size: 3rem;
     }
     .bg-content p{
        font-size: 1rem;
       text-align: center;
       margin-top: 1.5rem;
     }
     
     .form{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: 20px;
     width: 60%;
     height: 6vh;
     border-radius: .3em;
     
     margin-top: 3em;
     }
     #main{
         width: 80% !important;
     }
    .lead{
        padding: 2em .2em;
        margin-top: 0;
        font-size: 1rem;
    }
    .info,.landlord{
      
        text-align: center;
        font-size: 1rem;
        width: 10em;
        height: 1.8em;
        margin-top: 2em;
        margin-bottom: 2em;
     }
     h3.top-rental{
        font-size: 1.5rem;
     }
     .top-rental{
        border-bottom:2px solid #686868;
        width: 10em;
        margin: auto;
        margin-bottom: 2em;
     }
.rent{
    border-radius: 5px;
    border: none;
    text-align: center  !important;
    width: 10em;
    height: 2em;
    margin: auto;
    margin-top: .5em;
    font-size: 1.5rem;
 }

@media all and (min-width:500px) and(max-width:800px){
.bg-content{
    width: 90%;
}
.navbar-nav .nav-item .nav-link{
   padding: 0rem !important;
}
.info{
    text-align: center;
    font-size: 2rem;
    width: 7em;
    height: 1.5em;
    margin-top: 5em;
    margin-left: 10em;
    margin-bottom: 2em;
 }
 
 
}