footer{
    margin-top: 5em;
    background-color:  #686868;
 }
 .logo{
    color: #7AC360;
    font-size: 2rem;
    font-family:serif;
    font-style: italic;
 }
 .logo+p{
    color: #7AC360;
    font-size: 1em;
 }
 .footer{
    width: 80%;
    padding: 20px;
    margin: 2em auto;
 }
 .footer .row{
    color: #fff;
 }
 .fab{
    color: #fff;
    font-size: 1.1em;
 }
 hr{
    background-color: #fff;
    width: 70%;
 }
 .copy{
    color: #fff;
    text-align: center;
    font-size: 1rem;
 }